<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.plist
   MovieSearch

   Created by Frank Mortensen on 28/09/2019.
   Copyright (c) 2019 Frank Mortensen. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
